name: time_range_example
description: A new Flutter application.

version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  time_range:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter